

.project-card {
  background-color: #5D666F;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.card-body {
  padding: 20px;
  display: flex; /* Allow stacking elements vertically */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  border: #141C23;
  border-style: solid;
  box-shadow: #312412;
}

.project-icon {
  width: 60px;
  height: 60px;
  object-fit: cover; /* Ensures full image coverage within the icon area */
}

.card-title {
  font-weight: bold;
  color: #141C23;
  transition: all 0.2s ease-in-out;
}

.card-title:hover {
  color: #312412; /* Change title color on hover */
}

a {
  text-decoration: none; /* Remove underline from link */
}

.base-component {
  /* Add your styles here */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.image-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image-list li {
  display: inline-block;
  margin: 0 5px;
}
