footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--footer-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  height: var(--footer-height);
}

.social-media {
  display: flex;
  gap: var(--spacing-md);
  margin: 0;
}

.social-media a {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: var(--text-hover);
}

.credits {
  margin-right: var(--spacing-md);
}

.attributions {
  position: absolute;
  right: var(--spacing-sm);
  bottom: var(--spacing-sm);
  font-size: var(--font-size-sm);
}

.attributions a {
  color: var(--text-hover);
  text-decoration: none;
  transition: color 0.3s ease;
}

.attributions a:visited {
  color: var(--text-hover);
}

@media (max-width: 520px) {
  .attributions {
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  footer {
    flex-direction: row;
    gap: var(--spacing-sm);
    height: auto;
    padding: 0.5rem;
  }
}