.intro {
  display: flex;
  color: white;
  padding: 1rem 0;
}

.intro img {
  border-radius: 25%;
  width: 8rem;
  height: 8rem;
}


.intro h1 { /* Styles for the text content below */
  margin-left: 0.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  align-self: center;
  line-height: 1.5;
}

.intro .content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
