html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-y: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: 40vw;
  margin-right: 40vw;
  margin-bottom: 1rem;
}

.backIcon{
  color: whitesmoke;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
}

@media only screen and (max-width: 1920px) {
  .container {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}

@media only screen and (max-height: 1000px){
  body{
    padding-bottom: 3rem;
  }
}